@media screen and (max-width: 1200px) {
  nav,
  .doc-nav {
    .navbar-brand {
      margin-left: 15px;
    }
    .buy-btn-case {
      margin-right: 20px;
    }
  }
  .lead-banner {
    height: 700px;
  }
  .description-text-area {
    h1 {
      font-size: 45px;
    }
  }
  .highlights {
    .top-features {
      .row {
        flex-direction: column;
        .col {
          margin: 40px auto;
          width: 70%;
        }
      }
    }
    .other-features {
      padding: 60px 20px;
    }
    .about-theme {
      width: 65%;
    }
    .feature-details-area {
      .description-text-area {
        h1 {
          font-size: 40px;
        }
      }
    }
  }
  .primary-view {
    min-height: 490px;
  }
  .main-doc-field {
    .main-doc-content {
      margin: 20px auto 30px 30px;
    }
    .page-content {
      right: 50px;
    }
  }
}

@media screen and (max-width: 991px) {
  nav,
  .doc-nav {
    .buy-btn-case {
      margin: 0 10px 0 auto;
    }
    .lg-buy-btn {
      display: none;
    }
    .sm-buy-btn {
      display: inline;
    }
    ul {
      margin-left: 0;
      padding: 20px 0;
    }
    .navbar-toggler {
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    .navbar-collapse {
      text-align: center;
      // .buy-btn-case {
      //   margin-right: 0;
      //   margin-bottom: 30px;
      //   a {
      //     min-width: 300px;
      //     padding: 8px 20px;
      //   }
      // }
    }
  }
  .lead-banner {
    // height: 550px;
    .lead-banner-background {
      .lead-text {
        h1 {
          font-size: 40px;
        }
      }
    }
  }
  .highlights {
    .about-theme {
      width: 85%;
    }
    .top-features {
      .row {
        display: flex;
        flex-direction: column;
        .col {
          margin: 0 auto 75px;
          width: 60%;
        }
      }
    }
    .carousel-array {
      .my-container {
        height: 550px;
        width: 90%;
        .card-body {
          padding-top: 30px;
        }
        .card-title {
          margin-bottom: 10px;
        }
        .col-lg-6:first-child {
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          height: 300px;
        }
        .col-lg-6:last-child {
          height: 250px;
          box-shadow: 0 0 15px 1px hsl(0, 2%, 89%) !important;
        }
      }
    }
    .feature-details-area {
      margin: 140px 10px 140px auto;
      .description-text-area {
        width: 45%;
        h1 {
          font-size: 30px;
        }
        // h1 {
        //     font-size: 35px;
        //   }
        .lead-buttons a,
        .lead-buttons button {
          padding: 10px 15px;
        }
      }
    }
    .testimonials-container {
      .testimonials-header {
        width: 90%;
        h1 {
          font-size: 35px;
        }
      }
      .testimonials-row {
        flex-direction: column;
        .testimonials-item {
          width: 80%;
          padding: 30px;
          margin: 40px auto;
        }
      }
    }
    .achievements-section {
      .achievement-header {
        width: 90%;
        h1 {
          font-size: 40px;
        }
      }
    }
  }
  footer {
    padding: 20px 0;
    text-align: center;
    .col-lg-6 {
      padding: 30px 100px 0;
    }
    .col-lg-3 {
      padding: 30px 30px 0;
      ul {
        padding: 0 20px;
      }
    }
    .icon {
      padding: 0 20px;
    }
  }
  .main-doc-field {
    .mobile-display {
      width: 80%;
      margin: 10px auto;
      position: relative;
      top: 10px;
      border-bottom: 0;
      right: 0;
    }
    .main-doc-content {
      width: 80%;
      margin: 20px auto 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .lead-banner {
    .lead-banner-background {
      .lead-list {
        flex-direction: column;
        .lead-list-item {
          margin: 5px 0;
        }
      }
      .lead-buttons a,
      .lead-buttons button {
        padding: 15px 35px;
        font-size: 15px;
      }
    }
  }
  .highlights {
    .top-features {
      .row {
        .col {
          width: 75%;
        }
      }
    }
    .feature-details-area {
      flex-direction: column-reverse;
      width: 80%;
      margin: 100px auto;
      .description-text-area {
        width: 100%;
        padding: 15px;
        text-align: center;
        margin: 0;
      }
      .illustration-area {
        width: 100%;
        padding: 10px;
      }
      .buy-btn-case {
        margin: 0;
        a {
          display: block;
        }
      }
    }
    .achievements-section {
      margin: 200px auto 70px;
    }
    .col {
      margin-top: 0;
    }
    .card-body {
      padding: 0 1rem;
    }
    .card-title {
      margin-top: 10px;
    }
    .mb-50 {
      margin-bottom: 50px;
    }
    .carousel-array .card-title {
      font-size: 26px;
      margin-bottom: 10px;
    }
  }
  .main-doc-field {
    .main-doc-content {
      width: 75%;
    }
    .page-content {
      width: 75%;
    }
  }
}

@media screen and (max-width: 535px) {
  .primary-view,
  .doc-header {
    nav {
      padding: 0.5rem 0 !important;
      .navbar-brand {
        margin-left: 0;
      }
      .navbar-toggler {
        padding-right: 0;
      }
    }
    .lead-banner {
      .lead-list {
        flex-direction: column;
        .lead-list-item {
          margin: 5px 0;
        }
      }
      height: 100vh;
      .lead-banner-background {
        // padding-top: 60px;
        .lead-text {
          width: 100%;
          padding: 0 15px;
          h1 {
            font-size: 30px;
            line-height: 40px;
          }
        }
        .lead-buttons a,
        .lead-buttons button {
          padding: 12px 20px;
          font-size: 14px;
        }
      }
    }
  }
  .top-offset {
    margin-top: 48.4px;
  }
  .main-doc-field {
    .page-content {
      width: calc(100% - 20px);
    }
    .main-doc-content {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
    }
  }
  .highlights {
    .about-theme {
      width: 95%;
      margin-bottom: 70px;
      font-size: 18px;
      padding-top: 20px;
      span {
        font-size: 20px;
      }
    }
    .top-features {
      margin: 0;
      width: 100%;
      .row {
        .col {
          width: 100%;
          margin-bottom: 40px;
          .mb-50 {
            padding: 0;
          }
        }
      }
    }
    .fda-custom-margin {
      margin-top: 30px !important;
    }
    .feature-details-area {
      width: 100%;
      margin: 80px 0;
    }
    .testimonials-container {
      width: 100%;
      .testimonials-header {
        width: 100%;
        margin: 15px 0;
        h1 {
          font-size: 30px;
        }
      }
      .testimonials-row {
        .testimonials-item {
          width: 100%;
          margin: 30px 0;
          padding: 20px 0 30px;
        }
      }
    }
    .other-features {
      padding: 60px 0;
      .follow-up-text {
        width: 95%;
      }
      .features-listing {
        .row {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    .carousel-array {
      padding: 30px 0 80px 0;
      .my-container {
        height: 480px;
        width: 95%;
        .col-lg-6:first-child {
          height: 230px;
        }
        .col-lg-6:last-child {
          height: 250px;
        }
        .carousel-item {
          // .card-title {
          //   font-size: 22px;
          // }
          .card-text {
            font-size: 17px;
          }
        }
      }
    }
    .achievements-section {
      .achievement-header {
        width: 100%;
        h1 {
          font-size: 35px;
        }
      }
      .product-hunt_embed {
        width: 100%;
        img {
          width: 100%;
          height: 100px;
        }
      }
    }
  }
  .bonus-package {
    .bonus-banner {
      margin: 35px auto 50px;
    }
  }
  footer {
    padding: 20px 0;
    text-align: center;
    .col-lg-6 {
      padding: 30px 30px 0;
    }
  }
}

@media screen and (max-width: 400px) {
  nav,
  .doc-nav {
    .sm-buy-btn {
      a {
        font-size: 12px;
        padding: 8px 15px;
      }
    }
  }
  .lead-banner {
    .lead-banner-background {
      .lead-buttons {
        padding: 0 10px;
        a,
        button {
          display: block;
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }
  .highlights {
    .about-theme {
      width: 95%;
    }
    .carousel-array {
      padding: 0;
      h3 {
        padding: 0 10px;
      }
      .card-title {
        font-size: 22px;
      }
      .my-container {
        height: 470px;
        .col-lg-6:first-child {
          height: 200px;
        }
        .col-lg-6:last-child {
          height: 270px;
        }
      }
    }
  }
  .bonus-package {
    .bonus-banner {
      margin: 15px auto 0px;
    }
  }
}
