@media screen and (max-width: 1200px) {
  nav,
  .doc-nav {
    .navbar-brand {
      margin-left: 15px;
    }
    .buy-btn-case {
      margin-right: 20px;
    }
  }
  .description-text-area {
    h1 {
      font-size: 45px;
    }
  }
  .highlights {
    .other-features {
      padding: 60px 20px;
    }
    .about-theme {
      width: 65%;
    }
  }
  .primary-view {
    min-height: 520px;
  }
  .main-doc-field {
    .main-doc-content {
      margin: 20px auto 30px 30px;
    }
    .page-content {
      right: 50px;
    }
  }
}

@media screen and (max-width: 991px) {
  nav,
  .doc-nav {
    .navbar-toggler {
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    .navbar-collapse {
      text-align: center;
      .buy-btn-case {
        margin-right: 0;
        margin-bottom: 30px;
        a {
          min-width: 300px;
          padding: 8px 20px;
        }
      }
    }
  }
  .banner-details-area {
    max-width: 90%;
  }
  .description-text-area {
    h1 {
      font-size: 40px;
    }
    .dta-buttons a {
      padding: 10px 15px;
    }
  }
  .highlights {
    .top-features {
      .row {
        display: flex;
        flex-direction: column;
        .col {
          margin: 0 auto 30px;
          width: 60%;
        }
      }
    }
    .carousel-array {
      .my-container {
        height: 550px;
        width: 90%;
        .card-body {
          padding-top: 30px;
        }
        .card-title {
          margin-bottom: 10px;
        }
        .col-lg-6:first-child {
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          height: 300px;
        }
        .col-lg-6:last-child {
          height: 250px;
        }
      }
    }
  }
  footer {
    padding: 20px 0;
    text-align: center;
    .col-lg-6 {
      padding: 30px 100px 0;
    }
    .col-lg-3 {
      padding: 30px 30px 0;
      ul {
        padding: 0 20px;
      }
    }
    .icon {
      padding: 0 10px;
    }
  }
  .main-doc-field {
    .page-content {
      right: 85px;
      top: calc(100vh - 270px);
    }
    .main-doc-content {
      width: 70%;
      padding: 0;
      margin: 20px auto 30px;
    }
  }
  .mobile-only {
    display: inline-block;
  }
}
@media screen and (max-width: 811px) {
  .banner-details-area {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 60px;
    .description-text-area {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
    .illustration-area {
      width: 100%;
      margin-bottom: 50px;
    }
  }
  .highlights {
    .top-features {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .highlights {
    .about-theme {
      width: 70%;
    }
    .top-features {
      .row {
        .col {
          width: 75%;
        }
      }
    }
    .col {
      margin-top: 0;
    }
    .card-body {
      padding: 0 1rem;
    }
    .card-title {
      margin-top: 10px;
    }
    .mb-50 {
      margin-bottom: 50px;
    }
    // ul {
    //   margin-bottom: 0;
    // }
    .carousel-array .card-title {
      font-size: 26px;
      margin-bottom: 10px;
    }
  }
  .main-doc-field {
    .main-doc-content {
      width: 75%;
    }
  }
}

@media screen and (max-width: 535px) {
  .primary-view,
  .doc-header {
    nav {
      padding: 0.3rem 0 !important;
      .navbar-brand {
        margin-left: 0;
      }
      .navbar-toggler {
        padding-right: 0;
      }
    }
    .banner-details-area {
      padding-top: 20px;
      .illustration-area {
        margin-bottom: 30px;
      }
    }
  }
  .top-offset {
    margin-top: 48.4px;
  }
  .highlights {
    .about-theme {
      width: 90%;
    }
    .top-features {
      .row {
        .col {
          width: 85%;
        }
      }
    }
    .other-features {
      .follow-up-text {
        width: 95%;
      }
    }
    .carousel-array {
      padding: 30px 0;
      .my-container {
        height: 480px;
        width: 95%;
        .col-lg-6:first-child {
          height: 230px;
        }
        .col-lg-6:last-child {
          height: 250px;
        }
        .carousel-item {
          // .card-title {
          //   font-size: 22px;
          // }
          .card-text {
            font-size: 17px;
          }
        }
      }
    }
  }
  footer {
    padding: 20px 0;
    text-align: center;
    .col-lg-6 {
      padding: 30px 30px 0;
    }
  }
  .main-doc-field {
    .main-doc-content {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
    }
  }
}
@media screen and (max-width: 400px) {
  .highlights {
    .about-theme {
      width: 80%;
    }
    .top-features {
      .row {
        .col {
          width: 90%;
        }
      }
    }
    .carousel-array {
      padding: 0;
      h3 {
        padding: 0 10px;
      }
      .card-title {
        font-size: 22px;
      }
      .my-container {
        height: 470px;
        .col-lg-6:first-child {
          height: 200px;
        }
        .col-lg-6:last-child {
          height: 270px;
        }
      }
    }
  }
  .banner-details-area {
    .description-text-area {
      .dta-buttons a {
        display: block;
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}
