@use './Partials/nav';
@use './Partials/lead-banner';
@use './Partials/features-container';
@use './Partials/footer';
@use './Partials/custom-variables';
@use './Partials/highlights';
@use './Partials/documentation';
@use './Partials/chabod-gallery';
@use './Partials/purchase-modal';
@use './Partials/testimonials';
@use './Partials/achievements-section';

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  // font-family: 'Montserrat', sans-serif;
}
.mont-font {
  font-family: 'Montserrat', sans-serif;
}
.custom-color {
  color: var(--custom-color);
}
.primary-view {
  min-height: 100vh;
}
.custom-link {
  color: #595b91;
  text-decoration: none;
  &:hover {
    color: var(--grey);
    transition: color 0.75s ease;
  }
}
.code {
  font-style: italic;
  color: red;
}
.bold {
  font-weight: bold;
}
.float-button {
  width: 60px;
  height: 60px;
  display: none;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--custom-color);
}
@keyframes translator {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.animate {
  animation-name: translator;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
// .mobile-only {
//   display: none;
// }
.buy-btn-case {
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
  button,
  a {
    padding: 10px 25px;
    border-radius: 5px;
    background-color: var(--custom-color);
    color: white;
    text-decoration: none;
  }
  button:hover,
  a:hover {
    color: white;
    letter-spacing: 1px;
    transition: all 0.7s ease;
  }
}
