@use "./Partials/chabod-queries";
@use "./Partials/nav";
@use "./Partials/description-text-area";
@use "./Partials/illustration-area";
@use "./Partials/footer";
@use "./Partials/custom-variables";

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
.details-area {
  display: flex;
  padding-top: 100px;
}
.testing .again {
  font-weight: bold;
}
