@use "./Partials/nav";
@use "./Partials/lead-banner";
@use "./Partials/footer";
@use "./Partials/custom-variables";
@use "./Partials/highlights";
@use "./Partials/documentation";

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
.custom-color {
  color: var(--custom-color);
}
.float-button {
  width: 60px;
  height: 60px;
  display: none;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--custom-color);
}
