@use "./custom-variables";

.top-offset {
  margin-top: 60px;
}
.main-doc-field {
  .doc-banner {
    width: 100%;
    // background-image: url(../../Dist/Images/pix-2z.jpg);
  }
  .doc-banner-overlay {
    background-image: linear-gradient(to right, black, grey);
    padding: 10px 20px;
    color: white;
    text-align: center;
    h2 {
      margin: 0;
    }
  }
  .page-content {
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    position: fixed;
    top: 70px;
    border-bottom: 2px solid var(--custom-color);
    background-color: white;
    right: 90px;
    box-shadow: 0 0 15px 1px hsl(0, 2%, 89%) !important;
    h5 {
      color: var(--grey);
    }
    h5::after {
      content: "";
      width: 70px;
      height: 2px;
      background-color: var(--custom-color);
      display: block;
      margin-top: 3px;
    }
    ul {
      padding: 0;
      list-style-type: none;
      li::before {
        content: "";
        background-color: var(--custom-color);
        width: 5px;
        height: 5px;
        border-radius: 100%;
        display: inline-block;
        margin-right: 7px;
      }
    }
  }
  .main-doc-content {
    width: 60%;
    margin: 20px auto 30px 70px;
    padding: 20px;
  }
}
