@use './custom-variables';
.primary-view {
  min-height: 100vh;
}
.banner-details-area {
  display: flex;
  padding-top: 100px;
}
.description-text-area {
  width: 45%;
  h1 {
    // margin-top: 20px;
    font-size: 55px;
    span {
      color: var(--custom-color);
    }
  }
  p {
    color: var(--grey);
    font-size: 18px;
  }
  .dta-buttons a,
  .dta-buttons button {
    margin-top: 20px;
    padding: 13px 25px;
    border-radius: 5px;
    &:hover {
      transform: scale(1.09);
      transition: transform 0.7s ease;
    }
  }
  .dta-buttons a:first-child {
    background-color: var(--custom-color);
    color: white;
  }
  .dta-buttons button,
  .dta-buttons a:last-child {
    background-color: var(--custom-shade);
    color: var(--custom-color);
    margin-left: 20px;
  }
}
.illustration-area {
  width: 55%;
  margin-top: 20px;
  img {
    width: 100%;
  }
}
