@use './custom-variables';

.doc-nav {
  padding: 10px 0 !important;
  box-shadow: 0 0 15px 1px hsl(0, 2%, 89%) !important;
}
.fixed-top {
  z-index: 7000 !important;
}
.top-offset {
  margin-top: 50px;
}
nav {
  background-color: rgba(255, 255, 255, 0.95);
  font-family: 'Montserrat', sans-serif;
  padding: 0.8rem 0 !important;
  .sm-buy-btn {
    display: none;
  }
  .active {
    color: var(--custom-color) !important;
  }
  .navbar-brand {
    color: var(--custom-color) !important;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  ul {
    margin-left: 15px;
    li {
      padding: 0;
      margin: 0 10px;
      border-radius: 5px;
      &:hover {
        background-color: var(--custom-color);
        transition: background-color 0.8s ease;
      }
      &:hover a {
        color: white !important;
      }
    }
    li a {
      color: var(--grey) !important;
      font-size: 12px;
    }
  }
}
