@use "./custom-variables";

.doc-nav {
  padding: 10px 0 !important;
  box-shadow: 0 0 15px 1px hsl(0, 2%, 89%) !important;
}

nav {
  padding: 1.5rem 0 !important;
  .active {
    color: var(--custom-color) !important;
  }
  .buy-btn-case {
    margin-right: 85px;
    a {
      padding: 8px 25px;
      border-radius: 5px;
      background-color: var(--custom-color);
      color: white;
    }
    a:hover {
      transform: scale(1.09);
      transition: transform 0.7s ease;
      color: white;
    }
  }
  .navbar-brand {
    color: var(--custom-color) !important;
    margin-left: 85px;
    font-weight: bold;
    font-size: 20px;
  }
  ul {
    margin-left: auto;
    li {
      padding: 0 15px;
      margin: 0 10px;
      border-radius: 5px;
      &:hover {
        background-color: var(--custom-color);
        transition: background-color 0.8s ease;
      }
      &:hover a {
        color: white !important;
      }
    }
    li a {
      color: var(--grey) !important;
      /* padding: 0 5px !important; */
    }
  }
}
