@use "./custom-variables";

nav {
  padding: 1.5rem 0 !important;
  .buy-btn-case {
    margin-right: 85px;
    a {
      padding: 8px 25px;
      border-radius: 5px;
      background-color: var(--custom-color);
      color: white;
    }
    a:hover {
      transform: scale(1.09);
      transition: transform 0.7s ease;
    }
  }
  // .social-icons-case {
  //   margin-right: 85px;
  // }
  // .icon {
  //   display: inline-block;
  //   padding: 0 10px;
  //   color: var(--custom-color);
  //   font-size: 17px;
  //   .fab:hover {
  //     transform: scale(1.2);
  //     transition: transform 0.7s ease;
  //   }
  // }
  .navbar-brand {
    color: var(--custom-color) !important;
    margin-left: 105px;
    font-weight: bold;
    font-size: 20px;
  }
  ul {
    margin-left: auto;
    li {
      padding: 0 15px;
      margin: 0 10px;
      border-radius: 5px;
      &:hover {
        background-color: var(--custom-color);
        transition: background-color 0.8s ease;
      }
      &:hover a {
        color: white !important;
      }
    }
    li a {
      color: var(--grey) !important;
      /* padding: 0 5px !important; */
    }
  }
}
