.testimonials-container {
  width: 90%;
  min-height: 300px;
  text-align: center;
  margin-bottom: 100px;
  .testimonials-header {
    width: 75%;
    margin: 50px auto;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 50px;
    }
  }
  .testimonials-row {
    display: flex;
    justify-content: space-evenly;
    .testimonials-item {
      background-color: black;
      border-radius: 10px;
      width: 30%;
      padding: 20px 0;
      min-height: 150px;
      &:first-child {
        background-color: pink;
      }
      &:nth-child(2) {
        background-color: #e7eff1;
      }
      &:last-child {
        background-color: #ebddeb;
      }
      .testimonial-text {
        width: 100%;
        padding: 10px 15px 30px;
        font-size: 20px;
        // color: var(--grey);
      }
      .about-author {
        width: 100%;
        .author-photo {
          margin-bottom: 10px;
          img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
          }
        }
        .author-details {
          font-family: 'Montserrat', sans-serif;
          span {
            display: block;
          }
          .author-name {
            font-weight: bold;
          }
          .author-extra {
            color: var(--grey);
          }
        }
      }
    }
  }
}
